<!doctype html>
<html>
<head>
    <title>英国留学适应能力评估</title>
</head>
<body>
    <h2>英国留学适应能力评估</h2>
    <form method="POST" action="/submit_survey">



        {% for question in questions %}
            <div>
                <p><strong>{{ loop.index }}. {{ question.content }}</strong></p>
                
                {% for option in question.options %}
                    <label>
                        <input type="radio" name="{{ question.id }}" value="{{ option[0] }}" score="{{ option[1] }}">
                        {{ option[1] }}
                    </label><br>

                {% endfor %}
            </div>
            <hr>
        {% endfor %}
        <button type="submit">提交评估</button>
    </form>
</body>
</html>
